<!doctype html>
<html>
<head>
<meta charset='UTF-8'></meta><meta name='viewport' content='width=device-width initial-scale=1'></meta>
<title>房屋租赁合同（长租）</title></head>
<body><h1>房屋租赁合同（长租）</h1>
<p>　　甲方（出租方）青居房屋租赁有限公司</p>
<p>　　乙方（承租方）{{name}}</p>
<p>　　出租之房屋座落于{{province}} {{city}} {{area}} {{address}}甲、乙双方就上述房屋友好协商，达成下列条款，以资共同遵守履行。</p>
<p>　　一、租赁用途为居住之用，不得擅自另作他用。</p>
<p>　　二、租赁期限：暂定{{durationTime}}月，从{{startDate}}起至{{endDate}}止，每月租金为人民币{{price}}元整。</p>
<p>　　三、付款方式：乙方每月应向甲方缴纳租金人民币{{price}}元整，每次租金必须提前7天内交清。 </p>
<p>　　四、乙方必须依约交付租金，如有拖欠租金，甲方每天按租金拖欠部分的2%加收滞纳金，并有权追回乙方所欠的租金和提前解除合同收回房屋。 </p>
<p>　　五、租赁期间，双方均不得借故解除合同，当事人一方如有正当理由要求解除合同时，必须提前壹个月通知对方，经对方同意，解除合同归还房屋，并赔偿违约金壹个月。如遇不可抗拒原因（如天灾、政府政策变化等）不在此例。</p>
<p>　　六、乙方要遵守{{province}} {{city}} {{area}}的暂住条例，不得利用该房屋之便进行非法活动，否则乙方要自行承担由此所产生的一切法律责任，甲方概不负责并有权提前终止租赁合同。</p>
<p>　　七、租赁期间内，乙方如中途让给他人转住（用），需经甲方同意，不得私自转租。</p>
<p>　　八、租赁期间，乙方应负责交付：水、电费，卫生费，管理服务费。</p>
<p>　　九、租赁期间，乙方应爱惜室内一切设备，如因故意或过失造成租用房屋及其配套设施损坏，应负责恢复房屋及其配套设施原状，无法恢复的应酌情赔偿。 </p>
<p>　　十、 合同签订之日的电表底数为<strong>__</strong>，水表底数为<strong>__</strong>，煤气表底数为<strong>__</strong>. </p>
<p>　　十一、 本合同若有未尽事宜，由甲、乙双方协商解决，另拟定补充协议。</p>
<p>　　本合同自签订之日起生效，本合同壹式叁份，甲、乙双方各持一份，送工商壹份，叁份都具有同等法律效力。</p>
</body>
</html>